@model IEnumerable<ScholarshipSolution.Models.ProfessorResearchPaper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProf.cshtml";
}


    <!-- Header -->
    <!-- Page content -->
    <br><br><br><br><br><br><br>
    <div class="container-fluid mt--7">
        <div class="row">

            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Research Papers</h3>
                                @Html.ActionLink("Back", "Profile", "Professors", null, new { @class = "btn btn-sm btn-info mr-4" })
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PageNO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Volume)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PublicationDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Publisher)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Citation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Link)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>*@
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PageNO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Volume)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PublicationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Publisher)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Citation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Link)
                                    </td>                                    
                                    @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.DOI }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.DOI }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.DOI })
                                    </td>*@
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

